@import '../vendors/bs5/bootstrap';
@import '../vendors/swiper';
@import '../vendors/aos';
@import '../css/partials/base';
@import '../css/partials/fonts';


// jazib-iqbal start
//styling of header sect
.main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  
  
  .navbar > .container-fluid {
    padding: 0;
  }
  
  .navbar-nav {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
  
    .nav-link {
      font-weight: 500;
      text-transform: capitalize;
      color: $black;
      font-size: calc(0.8rem + 0.2vw);
      // padding: 1rem 1.5rem;
  
      i {
        margin-left: 0.25rem;
      }
  
      &.theme-btn {
        // text-transform: capitalize!important;
        padding: 0.75rem 1.75rem;
        color: $white;
      }
  
      // .nav-item{
  
      // }
  
      // .navbar-expand-lg .navbar-nav .nav-link{
      //   padding: .8rem 1.5rem!important;
      // }
    }
  
    .dropdown {
      &:hover .dropdown-menu {
        display: block;
        // margin-top: 0;
      }
  
      .dropdown-toggle {
        &::after {
          display: none;
        }
      }
  
      &:hover .dropdown-toggle i:before {
        transform: rotate(180deg) !important;
      }
    }
  
    .nav-item {
      padding: 1rem;
      white-space: nowrap;
      .nav-link{
        font-size: calc(1rem + .01vw);
      }
      
    }
  }
  
  //styling of hamburger button
  
  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  
    svg {
      height: 2rem;
      width: fit-content;
    }
  }
  
  .line {
    fill: none;
    stroke: $color_black;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line1,
  .line3 {
    stroke-dasharray: 60 207;
  }
  
  .line2 {
    stroke-dasharray: 60 60;
  }
  
  .opened .line4 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }
  
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  //styling of hero sect
.hero{
    // padding: 10vh 12px;
    // background-color: green;
  
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero_desc-sect,
  .hero_img-sect {
    // width: 40%;
    height: fit-content;
  }
  
  .hero_desc-sect {
    // padding-left: calc(8rem + 5vw);
    width: 40%;
    padding: 0 1rem;
  }
  
  .hero_img-sect {
    width: 60%;
    aspect-ratio: 15 / 9.5;
    overflow: auto;
  }
  
  .hero_heading {
    font-size: calc(3rem + 1vw);
    color: $color_black;
    font-weight: 200;
    text-transform: capitalize;
    margin-bottom: 1rem;
    span,
    strong {
      color: $color_theme;
    }
  
    strong {
      font-weight: 600;
    }
  }
  
  .hero_desc {
    color: lighten($color: $color_theme, $amount: 20%);
    font-size: calc(1rem + 0.3vw);
    margin-bottom: 2rem;
  }
  
  .hero_desc-sect .btn_wrapper {
    > *:first-child {
      margin-right: 1rem;
    }
  }
//   jazib-iqbal sec end

// done by laiba fiaz
// start
// .key-highlights-wrapper
.key-highlights-wrapper{
    .highlights-card-wrapper{
        display: flex;
        gap: 1rem;
        .number-card-padding{
            padding: 2.875em 1.5em;
            background-color: lighten($color-dark-grey, 50%);
            flex: 1;
            border-radius:$radious-g;
            .number-card{
                text-align: center;
            }
        }
        .number-card-content{
            i{
               font: {
                size: 2.5rem; 
               }
               color: $color_theme;
            }
            strong{
                display: block;
                font: {
                    size: 2rem;
                }
                color: $color_theme;
                padding: 0.5rem 0;
                        }
            span{
                font: {
                    size: 0.938rem;
                    weight: 500;
                }
                text-transform:capitalize
            }
        }
    }
}

// service-portfolio-wrapper

.service-portfolio-wrapper{
    .service-card{
        position: relative;
        padding-bottom: 3rem;
        height: 100%;
        figure{
            position: relative;
            background-color: $color-dark-grey;
            aspect-ratio: 2 / 2;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
        figcaption{
            text-transform: capitalize;
            color: $color_theme;
            
            h3{
                padding: 1rem 0;
                margin: 0;

                font: {
                    size: 24px;
                    weight: bold;
                }
            }
            p{
                margin-bottom: 1.5rem;
                color:$color-dark-grey;
            }
            a{
                position: absolute;
                left: 0;
                bottom: 1rem;
            }

        }

    }
}

.arrow-btn{
    padding: .75rem 0;
    color:$color_theme;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &::after{
        content: "\e901";
        font-family: "icomoon" !important;

    }
}
// why-choose-us-wrapper

.why-choose-us-wrapper{
    .why-choose-card{
        color:$color_theme;
        text-align: center;
        padding: 0 2rem;
        i{
            font-size: 2.5rem;
        }
        strong{
            display: block;
            font: {
                size: 1.125rem;
                weight: bold;
            }
            padding: 1rem 0 1rem 0;
            margin: 0
        }

        p{
            font: {
                size: 0.8rem;
                weight: 600;
            }
            color: $color_black;
        }
        }
        .row{
           [class^="col-"]:not(:last-child){

            position: relative;
            &::after{
                content: "";
                position:absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 90px;
                background-color: lighten($color-dark-grey, 30%);
            }
            }
    }
}


// assurance-wrapper
.assurance-wrapper{
    .row{
        background-color: $color_theme;
        border-radius:$radious-g;
        [class^="col-"]{
            padding: 0;
            border-radius:$radious-g;
        }
    }
    .assuranc-inner{
        figure{
            width: 100%;
            height: 100%;
            img{
                width:100%;
                height: 100%;
                border-radius:$radious-g;
            }
        }
    }
    .assurance-right{
        color: $color_white;
        height: 100%;
        padding: 7rem 3rem;
        h2{
            padding: 0;
            margin: 0;
        }
        p{
            padding: 2rem 0;
            margin: 0;
        }
        a{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: fit-content;
        }
        .secondary-btn-bordred{
            border: 1px solid $color_white !important;
            color: $color_white;
            padding: .75rem 1.75rem;
        }
    }
}
// features-wrapper
.features-wrapper{
    .features-inner{
        color: $color_white;
        background-color: $color_theme;
        padding: 4rem 3rem;
        border-radius:$radious-g;
        h2{
            color: $color_white;
        }

    }
    .services{
       
        strong{
            color:$color-green;
            font: {
                size: 1.3rem;
            }
            display: inline-block;
            margin-bottom: 1rem;
        }
        ul{
            padding: 0;
            li{
                list-style: none;
                position: relative;
                padding-left: 2rem;
                i{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
    }
    a{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: fit-content;
        margin-left: auto;
    }
    .features-inner-body{
        margin-bottom: 4rem;
    }
   
}

//guidance-wrapper
.guidance-wrapper{
    .guidance-inner{
            ul{
                li{
            border-bottom: 1px solid $color-dark-grey;
            position: relative;
            padding-left: 2.5rem;
            list-style: none;
            padding: 1.5rem 4rem;
            position: relative;
            transition: .4s linear all;
            cursor: pointer;

              &::after{
                position: absolute;
                content: "";
                background-color: $color_theme;
                width:0;
                height: 100%;
                top: 0;
                left: 0; 
                z-index: -1;
                transition: .4s linear all;
            }
            &:hover:after{
                width: 100%;
               // height: 100%;
           }
           &:hover{
            color: $color_white;
            transition-delay: .2s;
           
       }
        }
        }
    
            strong{
                margin-bottom: 1.5rem;
                font: {
                    size:3rem;
                    weight: 300;
                }
            }
        }
        figure{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                position: sticky;
                top: 5rem;
    
            }
        }
      

    }
    // laiba fiaz sec end

//laiba sec start
// our-clinet


    // reviews-wrapper
    .reviews-wrapper{
      
      .client-card{
        border: 1px solid $color-dark-grey;
        padding: 2rem;
        border-radius:calc(#{$radious-g} * 2);
        
      }
      p{
         font : {
          size: 1.2rem;          
        }
      }
      .client-bio{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        img{
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        small,span{
          display: block;
        }
      }
    }
    //laiba sec end
    // jazib -iqbal sec start
    // footer
    footer {
        color: $color_white;
      
        .footer_inner {
          border-bottom-left-radius: 3rem;
          border-bottom-right-radius: 3rem;
          background-color: $purple;
          padding: 5rem 3rem;
          padding-bottom: 0;
          .sect_heading{
            margin-bottom: 2.5rem;
          }
        }
      
        p {
          text-align: justify;
          color: lighten($color: $color_black, $amount: 45%);
        }
      }
      
      .footer_list-sect {
        aside {
          width: 60%;
          padding-right: 0.5rem;
      
          ul {
            width: 25%;
          }
        }
        article {
          width: 40%;
          padding-left: 0.5rem;
      
          h5 {
            text-transform: capitalize;
            margin-bottom: 1rem;
          }
      
          p {
            margin-bottom: 1rem;
          }
      
          .theme-btn {
            font-weight: 600;
            margin-top: 1rem;
          }
        }
      }
    //   jazib-iqbal sec-end
    // next-page
// who we are..about.html
// laiba sec-start
// mission-vision-wrapper

.mission-vision-wrapper{
  .mission-vision-inner{
    h2{
      text-align: left
    }
    .mission-heading{
      display: inline-block;
      margin-bottom: 1rem;
      color: $color_theme;
            font: {
              size: 1.5rem; 
             }
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  }
  p{
    margin-bottom: 2rem;
  }
}
// candidate-wrapper
.candidate-wrapper{
  .candidate-inner{
    background-color: $color-green;
    border-radius:calc(#{$radious-g} * 3);
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .candidate-right-col{
      padding: 5rem;
      h2{
        font-size: 3.5rem;
      

      }
     
    }
    .cand-fill-form {
      display: flex;
      flex-direction: column; 
      
      
      input {
        height: 4rem;
        width: 100%; 
        box-sizing: border-box; 
      }
    }
      }
    p{
      margin-bottom: 1rem;
        }
  }

  // marque
  //done by laiba
  .marque-wrapper{
    position: relative;
    .marque-col-left{
        position: relative;
    
        figure{
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            aspect-ratio: 5/5;
            background-color: gray;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                z-index: 1;
            }
            
        }
        &::before{
            position: absolute;
            content: "";
            background-color:black;
            z-index: -1;
            inset: 0;
            transform: translate(10px, 10px);
            border-radius: 10px;
        }
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color:white;
            z-index: 0;
            inset: 0;
            transform: translate(5px, 5px);
            border-radius: 10px;
           
        }
    }
    
    .marque-col-right{
        padding: 1rem 1.5rem 20rem 1.5rem;
        width: 100%;
        height: 100%;
        .marque-col-right-description {
            border-bottom: 1px solid grey;
            h3{
                font : {
                    size:2rem ;
                    weight:600 ;
                }
                margin-bottom: 1rem;
                
            }
            small{
                font : {
                    size: 1rem;
                }
                margin-bottom: 1rem;
                display: inline-block;
            }
        }
    
    }
    .marque-col-right-bottom-heading{
        font : {
        size: 2rem;
        weight:600;
        }

    }
}
    .marquee-content {
        display: flex;
        gap: 1rem;
        width: max-content;
        margin-top: -300px;
       
    }

    .marquee-item {
        position: relative;
        margin: 0;
        img {
            width: 180px;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;

          
        }


        .caption{
            transform: translateY(-100%);
            width: 100%;
            transition: all .4s linear;
            opacity:0;
            text-align: center;
            text-transform: capitalize;
            font-weight: bold;
            
         }

        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:white ;
            transform: translate(5px, 5px);
            border-radius: 10px;
            z-index: -1;
            transition: all .4s linear;
         }
        &::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:black ;
            transform: translate(10px, 10px);
            border-radius: 10px;
            z-index: -2;
            transition: all .4s linear;
         }
         &:hover::after, &:hover::before {
            height: calc(100% + 2rem);
        }
             &:hover .caption{
            transform: translateY(0);
            opacity: 1;            
         }  
         
         
        
  
    }


















// media queries
@import '../css/partials/mediaqueries';